*{
  margin: 0;
  padding: 0;
}
body {
  min-height: 50vh;
  background-image: url("images/fondo.jpg");
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; 
}
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
  background:url(images/vector.jpg);
}
.aros{
  width: 150px;
    height: auto;
}
header.abajo{
  background: #fff ;
  padding: 15px 20px;
}
header .logo{
  position: relative;
  color:#fff;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 40px;
}
header.abajo .logo{
  color:#103783;
}
.navbar {
  display: flex-end;
}
.options{
  display: inline-block;
  color: #72b01d;
  font-family: 'Schoolbell', cursive;
  text-align: center;
}
nav{
  display: block;
  padding: 0 10%;

}
.flex-section { /*section athletes*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.displaysection{
  display: none;
}
.card {
  width: 212px;
  height: 294px;
  margin: 2px auto;
  
}
.card-image {
  width: 200px;
  height: 150px;
  background-size: cover;
  background:url(images/card.jpg);
  border-radius: 9px;
  box-shadow: 2px 2px 10px black;
  position: absolute;
}
.card-opacidad {
  width: 180px;
  height: 130px;
  background-color: white;
  opacity: 0.7;
  margin: 13px;
  position: absolute;
  border-radius: 9px;
}
p {
  position: relative;
  padding-left: 19px;
  padding-right: 19px;
  display:flow-root;
  text-align:center;
  font-weight:500;
  font-size: 17px;
}
.showCards{
  display: none;
}
#button1{
  position: static;
  margin: 130Px auto;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  border-color: #00B4D8;
  border-radius: 30px;
  border-width: 5px;
  left: 150px;
}
label{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 20px;
  color: #103783;
  padding-left: 50px;
}

#medalTable {
  display: none;
  align-items: center;
}
#filters {
  display: flex;
  justify-content: flex-end;
}
#filtrado {
  background: white;
  font-size: 15px;
  border-radius: 40px;
   width: 150px;
  height: 35px;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  margin-top: 0px;
 }
.filterBtn:hover {
  background-color: #00B4D8;
  color: black;
  border-color: transparent;
}
option {
  background-color: #EEEF20;
  color: black;
  border-color: transparent;
}
#btn-return-one,#btn-return-two,#btn-return-three {
    background-color: #00B4D8;
    border-radius: 40px;
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
    color: black;
    border-color: transparent;
    margin-left: 550px;
}
#btn-return-one, #btn-return-three{
    margin-left: 250px;
}
#btn-return-three{
  margin-bottom: 10px;
}
#btn-return-one:hover {
    background-color: #00B4D8;
    color: white;
  }
  #btn-return-two:hover {
    background-color: #00B4D8;
    color: white;
  }

  #button-search{
    margin-left:50px;
  }
  input{
      margin-left: 20px;
      }
#countries{
  margin-left: 250px;
  
}