
*{
  margin: 0;
  padding: 0;
}
body{
  background: "images/fondo.jpg";
}
header{
  width: 100;
  overflow: hidden;
  background: pink;
  margin-bottom: 20px;
}
.wrapper{
  width: 90%;
  max-width: 100px;
  margin:auto;
  overflow:hidden;
}
header.logo{
  color:green;
  font-size: 50px;
  line-height: 200px; 
  float:left;
}
header nav {
	float:right;
	line-height:200px;
}
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}
.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}
button{
  background-color: transparent;
  font-weight: semibold;
  color: #444;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid #eee;
  border-radius: 50rem;
  transition: all ls ease;
  cursor: pointer;
  box-shadow: .5rem .5rem 1rem #ccc, 
              -.5 -.5rem 1rem #fff; 
  border-color: aqua;
}

button:hover{
  box-shadow: .5rem .5rem 1rem #fff, 
                -.5 -.5rem 1rem #ccc; 
}

button:active{
  box-shadow: inset .2rem .2rem .5rem #fff, 
              inset -.2rem -.2rem .5rem #ccc; 

}